extends layout

block content
  h1 Unify Id Project 
  p.lead A public/private key service
  hr
  .row
    .col-sm-6
      h2 Generate a private key
      p Click this button to get a new private key. The public key will be stored on the server 
      p
        a.btn.btn-default(href='#', role='button', id='generateKeyBtn') Generate a key »
    .col-sm-6
      div(id='result')
  .row
    .col-sm-6
      h2 Encrypt something 
      p Enter your public key's ID and something you want to encrypt
      p ID: 
        input(id='publicKeyId')
      p Data:
        textarea(id='thingToEncrypt')
      p
        a.btn.btn-default(href='#', role='button', id='encryptBtn') Encrypt your data »
    .col-sm-6
      div(id='encryptionResult')
